<link rel="stylesheet" href="/css/dashboardCard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="ag-format-container">
    <div class="ag-courses_box">
        <div class="ag-courses_item">
            <a href="/admin/courses" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    <i class="fas fa-book"></i> بخش دوره های سایت
                </div>

                <div class="ag-courses-item_date-box">
                    موارد:
                    <span class="ag-courses-item_date">
                        ویرایش حذف افزودن
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="/admin/comments/" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    <i class="fas fa-comments"></i> بخش نظرات سایت
                </div>

                <div class="ag-courses-item_date-box">
                    موارد:
                    <span class="ag-courses-item_date">
                        حذف کامنت های تایید نشده
                    </span>
                </div>
            </a>
        </div>


        <div class="ag-courses_item">
            <a href="/admin/users" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    <i class="fas fa-users"></i> بخش کاربران سایت
                </div>

                <div class="ag-courses-item_date-box">
                    موارد:
                    <span class="ag-courses-item_date">
                        ویرایش حذف مدیریت دسترسی
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="/admin/episodes/" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    <i class="fas fa-video"></i> بخش ویدوی های سایت
                </div>

                <div class="ag-courses-item_date-box">
                    موارد:
                    <span class="ag-courses-item_date">
                        ویرایش حذف مدیریت دسترسی
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="/admin/users/permissions" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    <i class="fas fa-lock"></i> بخش اجازه دسترسی های سایت
                </div>

                <div class="ag-courses-item_date-box">
                    موارد:
                    <span class="ag-courses-item_date">
                        قابلیت های دسترسی سایت
                    </span>
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="/admin/users/roles" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    <i class="fa-solid fa-gear"></i> بخش سطح کاربران سایت
                </div>

                <div class="ag-courses-item_date-box">
                    موارد:
                    <span class="ag-courses-item_date">
                        مدیر پشتیبان مدرس
                    </span>
                </div>
            </a>
        </div>

    </div>
</div>