<%- include(viewPath('home/panel/head')) -%>


    <div class="mt-4">
        <form action="/user/panel/vip/payment" method="post" class="w-25">
            <select name="plan" id="plan" class="form-control">
                <option value="1">عضویت ویژه ۱ ماهه ۱۰۰۰۰</option>
                <option value="3">عضویت ویژه ۳ ماهه ۳۰۰۰۰</option>
                <option value="12">عضویت ویژه ۱۲ ماهه ۹۰۰۰۰</option>
            </select>

            <button type="submit" class="btn btn-danger mt-2 ">افزایش اعتبار</button>
        </form>

        

    </div>